.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  min-height: 100vh;
}

.container {
  min-width: 320px;
  width: 100%;
  max-width: 480px;
  border-radius: 24px;
  background-color: var(--background);
}

.header {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
}

.imageThemeWrapper {
  display: flex;
}

.logo {
  width: 150px;
  height: 24px;
}

.langButton {
  background-color: var(--foreground);
  color: var(--main-text);
  border-radius: 18px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; 
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kioskImage {
  width: 195px;
  height: auto;
}

.innerContainer {
  background-color: var(--foreground);
  padding: 24px 16px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 816px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.menuItem {
  background-color: var(--background);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconContainer {
  padding: 8px;
  background-color: var(--foreground);
  border-radius: 24px;
  display: flex;
  align-items: center;
  width: 40px;
}

.itemTitle {
  color: var(--main-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.itemDescription {
  color: var(--sub-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.button {
  background-color: var(--button-bg);
  color: var(--main-text);
  display: flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.button:hover {
  background-color: var(--button-hover-bg);
}

.borderLine {
  border-top: 1px solid var(--border);
  width: 100%;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.footerLogoWrapper {
  padding: 16px 0;
}

.footerButton {
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
  border-radius: 24px;
  color: var(--main-text);
  text-align: center;
}

.footerButtonSkeleton {
  width: 100%;
}

.footerButton:hover {
  background-color: var(--footer-button-bg);
}

.copyright {
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  color: var(--sub-text);
}

.dialogContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: flex;
}

.dialog {
  display: flex;
  width: 262px;
  padding: 12px 0px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--foreground);
  border-radius: 24px;
}

.langItemContainer {
  width: 100%;
}

.langItem {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

@media (max-width: 480px) {
  .main {
  padding: 0;
  }
  .container {
    border-radius: 0;
  }
}