.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  min-height: 100vh;
}

.container {
  min-width: 320px;
  width: 100%;
  max-width: 480px;
  border-radius: 24px;
  background-color: var(--background);
}

.header {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
}

.imageWrapper {
  display: flex;
}

.logo {
  width: 150px;
  height: 24px;
}

.langButton {
  background-color: var(--foreground);
  color: var(--main-text);
  border-radius: 18px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kioskImage {
  width: 195px;
  height: auto;
}

.innerContainer {
  background-color: var(--foreground);
  padding: 24px 16px;
  border-radius: 24px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menuItem {
  background-color: var(--background);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconContainer {
  padding: 8px;
  background-color: var(--foreground);
  border-radius: 24px;
  display: flex;
  align-items: center;
  width: 40px;
}

.itemTitle {
  color: var(--main-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.itemDescription {
  color: var(--sub-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.button {
  background-color: var(--button-bg);
  color: var(--main-text);
  display: flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.button:hover {
  background-color: var(--button-hover-bg);
}


